# Application
APP_PORT=3000
APP_ENV=development
API_PREFIX=api/v1
INTERNAL_API_KEY=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Throttle
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

# Super Admin Seed
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# Prisma
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
